/* 浮动控件 */
.float-gadget {
  z-index: 999;
  position: fixed;
  width: 60px;
  height: 60px;

  top: 61.8%;
  right: 0;

  border-radius: 13px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.float-gadget::after {
  z-index: 11;
  width: 54px;
  height: 54px;
  content: "";
  display: block;
  position: absolute;
  border-radius: 13px;
  background-color: rgba(255, 255, 255, 0.5);
  filter: blur(1px);
}

.float-gadget::before {
  z-index: 10;
  content: "";
  display: block;

  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.expand {
  margin-top: -100px;
  margin-left: -100px;
  width: 200px;
  height: 200px;
}

.expand::after {
  display: none;
}

.expand::before {
  display: none;
}

.float-gadget .btn-group {
  display: none;
}

.expand .btn-group {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.float-gadget .btn {
  transition: 0.2ss;
  text-align: center;

  border-radius: 13px;
}

.float-gadget .btn span {
  line-height: 200px;
  color: white;
  font-size: 42px;
}

.float-gadget .btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.float-gadget .select {
  background-color: rgba(255, 255, 255, 0.7);
}

.mask {
  height: 100%;
}
